section.filters{
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: flex-start;
}


section.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color:  #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius:4px ;
	float: right;
	margin: 11px 30px;
	margin-left: 25%;

}

section.filters button:hover {
    opacity: .9;
}

.locations {
	height: 100%;
	width: 25%;
	margin-left: 40px;
	border-right: 1px solid  #DDDDDD;
	
}

.amenities{
	height: 100%;
	width: 25%;
	margin-left: 40px;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
    font-size: 16px;
	margin: 12px 0px 8px 0px;

}


.locations h4,   
.amenities  h4{
	font-weight: 400;
	font-size: 14px;
	margin: 0 auto;
}

.popover {
	display: none;
	list-style-type: none;
	border: 1px solid #DDDDDD ;
	width: 100%;
	margin-left: -41px;
	padding: 9%;

}


.locations:hover .popover {
	display: block;
	
}

.amenities:hover .popover {
	display: block;
}

li {
	list-style-type: none;
}

.lists{
	margin-top: -15px;
}